.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
    background: linear-gradient(118.32deg,
            rgba(6, 3, 7, 0.8) 2.69%,
            rgba(63, 33, 69, 0.87) 21.98%,
            rgba(85, 37, 95, 0.87) 40.36%,
            #6f275e 59.65%,
            #690147 77.59%);
    grid-template-areas: "header header""image midbox";
    // width: min(95%, 70rem);
    padding-block: 2rem;
    margin-inline: auto;

    .item {
        padding: 2rem;

        .item:nth-child(1) {
            grid-area: header;
            justify-content: center;
            color: #ffffff;
        }

        .item:nth-child(2) {
            grid-area: image;
            width: minmax(90%, 1fr);
            display: none;
        }

        .item:nth-child(3) {
            grid-area: midbox;
        }
    }
}