.grid-container {
  display: grid;
  grid-gap: 1.5rem;
  background: linear-gradient(
    118.32deg,
    rgba(6, 3, 7, 0.8) 2.69%,
    rgba(63, 33, 69, 0.87) 21.98%,
    rgba(85, 37, 95, 0.87) 40.36%,
    #6f275e 59.65%,
    #690147 77.59%
  );
  padding-block: 2rem;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    " header header header "
    "image midbox midbox ";
}

.item {
  padding: 2rem;
}

.siteName {
  width: 100%;
  justify-content: center;
  align-items: center; 
  font-family: Rochester;
  font-style: normal;
  font-weight: normal;
  font-size: 46px; 
}

.item:nth-child(1) {
  grid-area: header;
  color: #fff;
  justify-self: center;
}

.item:nth-child(2) {
  grid-area: image;
}
.item:nth-child(3) {
  grid-area: midbox;
  margin: -40px 0 0 0;
  color: #fff;
}
.item:nth-child(3) h4 {
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  mix-blend-mode: screen;
  line-height: 74px;
}
.something {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 46px;
}
img {
  width: 100%;
}

.item:nth-child(3) input[type="email"] {
  background: #6f275e;
  width: 330px;
  height: 40px;
  padding-right: 50px;
  color: #fff;
  /* border-radius: 20px; */
  border: 1px solid #e5e5e5;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.item:nth-child(3) input[type="email"]:focus {
  outline: none;
}

.cbtn {
  margin-left: -99px;
  height: 35px;
  width: 100px;
  background: #6f275e;
  border: 2px solid #e5e5e5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-appearance: none;
  color: #fff;
}
.social { 
  margin-top: 1rem;  
  justify-content: center; 
  margin-left: 30%; 
}
.social a {
  margin: 0 10px;
  color: #fff;
  width: 80px;
  height: 80px; font-size: 34px;
}
/* Mobile */
@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 0;
    grid-template-areas:
      "header"
      "image"
      "midbox";
  }
  .item {
    padding-top: .3rem;
  } 
   
  .item:nth-child(2) {
    grid-area: image;
    justify-self: center;
  }
  .item:nth-child(3) {
    padding: 1rem;
  }
  .something {
    font-size: 18px;
    line-height: 46px;
    text-align: center;
  }
  form {
    justify-self: center;
    /* padding: 1rem;
    display: none; */
  }
  img {
    height: 300px;
    width: 300px;
  }
  .social {
    margin-top: 1rem;  
    justify-content: center; 
    margin-left: 30%; 
  }
  .social a {
    /* display: none; */
    /* font-size: 34px; */
  }
}

/* Tablets and browser */
@media (max-width: 768px) {
  .item:nth-child(1) {
    grid-column: 2;
    grid-row: 1/2;
    grid-column: span 3;
  }
  .item:nth-child(3) {
    grid-column: span 2;
  }
  
}
@media (min-width: 768px) {
  form { 
      margin-left: 20%;  
    justify-self: center;
    /* padding: 2rem; */
    /* display: none; */
  }
}