.timer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .timer-item {

        width: 25%;
        margin: 0;
        padding: 10px;
        border-right: solid 1px rgba(255, 255, 255, 0.2);

    }
}